<div class="about-container">
  <div>
    <div class="container-title" fxFlex fxLayout="row" fxLayout.xs="column wrap" fxLayout.md="column wrap"
      fxLayoutAlign="center stretch">
      <p>
        <b>ABOUT THIS TOOL</b>
      </p>
    </div>
  </div>
  <div>
    <div fxFlex fxfxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around center"
      fxLayoutGap="30px" fxLayoutGap.sm="20px" fxLayoutGap.xs="20px">
      <div fxFlex="50" fxFlexOffset="1">
        <p>
          <span>This tool was designed with the express intent of making PN products more accessible to the entire
            agency. This easy-to-follow format will help you to learn and familiarize yourself with product terminology,
            how the product works, why it is beneficial to the client, and ultimately be able to sell premium priced
            products to clients.</span>
          <span class="clear both"></span>
          <span>At the end of the decision tree process, you will receive a framework scope that will allow for a
            conversation with your client (and hopefully a sale). It will also provide the senior members of the
            respective product teams with information they need to quickly turn on designing a product that fits your
            client’s needs while insuring it is properly priced.</span>
        </p>
      </div>
      <div fxFlex>
        <p>
          Quick overview of contents included in this tool:
          <span class="clear both"></span>
          <span>
            1. Short video tutorials about each of the products
          </span>
          <span>
            2. Guided questions to understand the client’s needs
          </span>
          <span>
            3. A scope of work and recommended pricing estimate tailored to the client’s needs
          </span>
          <span>
            4. An automated process to get an internal expert’s approval of the estimate
          </span>
          <span>
            5. Infographics and downloadable PDFs to help visualize the product
          </span>
        </p>
      </div>
    </div>
  </div>
</div>