<div class="container" fxLayout fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
  fxLayoutGap.xs="5px">
  <div class="item item-1" fxFlex="30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>DEFINE</mat-card-title>
        <mat-card-subtitle> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        content
      </mat-card-content>
      <mat-card-actions>
        <span>$20K - $40K</span>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="item item-2" fxFlex="30%" fxFlexOrder="3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ARTICULATE</mat-card-title>
        <mat-card-subtitle> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        content
      </mat-card-content>
      <mat-card-actions>
        <span>$20K - $40K</span>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="item item-3" fxFlex="30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>EXPRESS</mat-card-title>
        <mat-card-subtitle> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        content
      </mat-card-content>
      <mat-card-actions>
        <span>$20K - $40K</span>
      </mat-card-actions>
    </mat-card>
  </div>
</div>